/* Put your CSS here */
.ember-application {
    margin: 20px;
}

/* fixed navbar body padding */
body { padding-top: 70px;}

/* navbar handlebar class for active tab */
.active {
  font-weight: bold;
}

.navbar-logo-boot {
  max-width: 40px;
  margin-top: -35px;
}

.navbar-header span {
  color: #e0cd66;
}

.extra-top-padding{
  padding-bottom: 40px;
}

.border-gold {
  border: 4px outset #e0cd66;
}

.border-gold-flag {
  border-radius: 5px;
  border: 2px double #e0cd66;
}

.center {
  text-align: center;
}

/* overwrite bootstrap navbar */
.navbar-default {
  background-color: #0087e6;
  border-color: #00a5d7;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #00a5d7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #00a5d7;
}
.navbar-default .navbar-toggle {
  border-color: #00a5d7;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #00a5d7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #00a5d7;
  }
}